h1 {
    background-color: white;
    opacity: 60%;
    width: 100%;
    margin: 0;
}
select {
    margin-top: 1em;
}
.crust {
    color: white;
    background-color: #037bff;
}
.card-body {
    padding-bottom: -20px;
}
.card-footer {
    justify-content: right;
}
/*.card-body {*/
/*    margin-bottom: -30px;*/
/*}*/
.jumbotron {
    background-image: url("../images/pizza.png");
    display: flex;
}
.pizza-title {
    text-align: center;
    opacity: 60%;
}

#pizzaCon {
    padding: 0;
}
