.crust:nth-child(1) {

}
.card-header {
    color: 037BFF;
}

.jumbotron {
    background-image: url("../images/pizza.png");
    display: flex;
}
.pizza-title {
    text-align: center;
    opacity: 60%;
}
h1 {
    background-color: white;
    opacity: 60%;
    width: 100%;
    margin: 0;
}
#pizzaCon {
    padding: 0;
}
/*#num1 {*/
/*    color: white;*/
/*    background-color: grey;*/
/*    background-size: 1px;*/
/*    border-radius: 50%;*/
/*}*/
